*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.full-sie{
	width: 1024px;

}

.header{
	background-color: #2A93B1;

}

.logo{
	width: 20%;
	float: left;
}
.logo img:hover{
	transform: scale(1.1);}
.logo img{
	width: 100%;
	height: 50px;
	margin: 10px 0 10px 20px;
}
.navbar{
	width: 80%;
	height: 100%;
	float: right;
}
.navbar ul{
	list-style: none;
	float: right;
}
.navbar ul li{
	display: inline;
	margin-left: -4px;
}
.navbar ul li a{
	text-decoration: none;
	padding: 20px 25px;
	display: inline-block;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	border-left: 1px solid #7f8c8d;
}
.navbar ul li a:hover{
	background: #0F6C8D;
}

.banner{
	width: 100%;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/D%C4%85bie-1-17.jpg/1200px-D%C4%85bie-1-17.jpg);
	padding: 250px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover cover;
	text-align: center;
	position: relative;
}
.banner h2{
	color: white;
	margin-bottom: 10px;
}
.top-content{
	width: 25%;
	position: absolute;
	margin-left: 38%;
	color: white;
	border: 1px solid #e3e3e3;
	padding: 5px 8px;
	text-align: justify;
}
.main-content{
	width: 100%;
}
.content{
	width: 70%;
	float: left;
	background-color: #e3e3e3;
}
.content-one, .content-two, .content-three{
	width: 33.33%;
	float: left;
	padding: 10px;
	text-align: justify;
}

.sidebar{width: 30%;
background-color: #a5b1c2;
float: right;
text-align: center;
}
img{
	float: left;
	width: 100px;
	height: 100px;
	padding-right: 5px;
}

.sidebar ul{
	list-style: none;
}
.sidebar ul li{ border-top: 1px solid black;
padding: 5px;}
.sidebar ul li a{
}
.sidebar ul li:hover{
	background-color: #d1d8e0;
}
footer{
	background-color: #778ca3;
	text-align: center;
	color: #fff;
	font-size: 12px;
	padding: 5px 0;
}